@media (min-width: 600px) {
    h1::before {
        content: "Testing out CSS";
    }
}

@media (max-width: 599px) {
    h1::before {
        content: "Test";
    }
}
.row > div {
    padding: 20px;
    background-color: teal;
    border: 2px solid black;}

h1{text-align:center;
 padding: 20px;
color:lightgrey;
font-size: 40px; font-weight: bold;
border:5px solid navy}

  p{font-size: 18;
font-weight:
bold;
text-align:center;}

span{border:3px solid black;
  color: orange}

table{align: center;
  border:4px solid lightpink;
  border-collapse: collapse;
  width: 100%;
}

th, td {
    border: 1px dashed lightpink;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
  }
